@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--font-main: 'Roboto', sans-serif;
	--font-cursive: 'Patrick Hand SC', cursive;
	--font-title: 'Rubik', sans-serif;
	--color-background: #f8f5f0;
	--color-surface: #ffffff;
	--color-primary: #f2762b;
	--color-secondary: #84b745;
	--color-accent: #ffac1f;
	--color-text: #41342f;
}

:root {
	margin: 0;
	padding: 0;
	font-family: var(--font-main);
	color: var(--color-text);
}
body {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: var(--color-background);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-title);
}